h1 {
    background-color: rgb(5, 13, 85);
    padding: 10px;
    width: 360px;
    color: white;
  }
.container {
    background-color: rgb(0, 140, 255);
    border: 4px solid rgb(51, 255, 0);
    margin-top: 100px;
    margin-left: 200px;
    height: 400px;
    width: 400px;
}

.block-1 {
    margin-top: 10px;
    margin-left: 180px;
    background-color: rgb(255, 247, 247);
    border: 4px solid rgb(93, 245, 6);
    height: auto;
    width: 200px;
}

p {
    padding: 10px;
}